extends layout

block content

    .pre-loader
        .load-con
            img.animated.fadeInDown(src='img/freeze/logo.png', alt='')
            .spinner
                .bounce1
                .bounce2
                .bounce3
    header
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.fa.fa-bars.fa-lg
                    a.navbar-brand(href='index.html')
                        img.logo(src='img/openstar1.svg', alt='')
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/") Home
                        li
                            a.noto(href='/index#support') お問い合わせ
                        li
                            a(href='/privacy') プライバシーポリシー
                // /.navbar-collapse
            // /.container
        // RevSlider
        div(style="height: 150px;")

    .wrapper
        section#privacy
            .container
                .section-heading.scrollpoint.sp-effect3
                    h1 会社概要
                    .divider
                    .row
                        .col-xs-12
                            .row(style="margin:20px;")
                                .col-xs-4(style="text-align:right;")
                                    div 会社名
                                .col-xs-8(style="text-align:left")
                                    div 株式会社オープンスター
                                .col-xs-4(style="text-align:right")
                                    div 所在地
                                .col-xs-8(style="text-align:left")
                                    div 〒541-0051 大阪市中央区備後町3-6-2 大雅ビル10F-109
                                .col-xs-4(style="text-align:left")

                                .col-xs-8(style="text-align:left")
                                    div 電子メール：　contact＠openstar.biz
                                    |  (迷惑メール対策のため、@を全角の＠で表示しています)
                                    br
                                    | 電話: 06-6123-7056、FAX: 020-4664-1260
                                    br
                                    | ホームページ    http://openstar.biz
                                    br
                                    | メールアドレス	contact(at mark)openstar.biz
                                .col-xs-4(style="text-align:right")
                                    div 業者概要
                                .col-xs-8(style="text-align:left")
                                    div ・医療情報システムの販売、開発、導入、サポート
                                    | タブレット対応問診票システム「w-monsin」の開発
                                    br
                                    | 診療所向け電子カルテ「OpenDolphin」の導入
                                    br
                                    |「日医標準レセプトソフト」の導入
                                    br
                                    | 中小企業向け総合ITサポート
                                    br
                                    | ネットワーク（LAN、VPN、IP電話など）のコンサルティング、構築
                                    br
                                    | ハードウェア(PC、プリンタ、ネットワーク機器など)の販売
                                    br
                                    |ビジネス・インテリジェンスソフト「Jaspersoft」取次店
                                .col-xs-4(style="text-align:right")
                                    div 代表取締役
                                .col-xs-8(style="text-align:left")
                                    div 星野 雅昭
                                .col-xs-4(style="text-align:right")
                                    div 資本金
                                .col-xs-8(style="text-align:left")
                                    div 100万円
                                .col-xs-4(style="text-align:right")
                                    div 設立
                                .col-xs-8(style="text-align:left")
                                    div 2013年5月

                            .row(style="margin:20px;")
                                div 無断での複製・販売を禁止いたします
                                div 平成28年1月16日
        section#oss
            .container
                .section-heading.scrollpoint.sp-effect3
                    h1 Our Team
                    .divider
                    .row(style="margin-top:50px;")
                        .col-sm-6
                            .row
                                .col-sm-12
                                    img.img-circle(src="/img/hoshino.jpg" style="padding-bottom:15px;")
                                .col.sm-12
                                    h4.kokoro 星野雅昭
                                .col.sm-12
                                    h5 代表取締役 兼 便利屋
                        .col-sm-6
                            .row
                                .col-sm-12
                                    img.img-circle(src="/img/x.jpg" style="padding-bottom:15px;")
                                .col.sm-12
                                    h4.Handlee Mr. Maracay
                                .col.sm-12
                                    h5.Orbitron Architect, Programming, Etc....

        footer
            .container
                .row
                    .col-sm-8.col-sm-offset-2(style="color:black;padding-bottom:80px;")
                        .row
                            .col-sm-6
                                a(href="/index#support")
                                    h3.noto(style="color:black;") お問い合わせ
                            .col-sm-6
                                a(href="/company", style="color:black;")
                                    h3.noto(style="color:black;")  会社概要
                .row
                    .col-sm-10.col-sm-offset-1

                        div(style="margin-bottom:20px;")
                            a(href='https://www.facebook.com/OpenStar60/', target='_blank')
                                img(src="/img/facebook_logo.svg", style="height:18px")
                            div(style="width:100px;margin-left:auto;margin-right:auto;margin-top:10px;")

                .row
                    .col-sm-10.col-sm-offset-1(style="padding:0;")
                        .social-area-syncer
                            row.social-button-syncer
                                col-sm-4.sc-tw(style="margin:10px;")
                                    a.twitter-share-button(data-url='https://w-monsin.com', href='https://twitter.com/share', data-lang='ja', data-count='vertical', data-dnt='true') ツイート
                                col-sm-4.sc-fb(style="margin:10px;")
                                    .fb-like(data-href='https://w-monsin.com', data-layout='box_count', data-action='like', data-show-faces='true', data-share='false')
                                col-sm-4(style="margin:10px;")
                                    div(data-href="https://w-monsin.com", class="g-plusone", data-size="tall")


