extends layout

block content

    .pre-loader
        .load-con
            img.animated.fadeInDown(src='img/freeze/logo.png', alt='')
            .spinner
                .bounce1
                .bounce2
                .bounce3
    header
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.fa.fa-bars.fa-lg
                    a.navbar-brand(href='index.html')
                        img.logo(src='img/openstar1.svg', alt='')
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a.noto(href="/") Home
                        li
                            a.noto(href='/index#support') お問い合わせ
                        //li
                            a(href='/articles') 価格
                        li
                            a.noto(href='/privacy') プライバシーポリシー
                // /.navbar-collapse
            // /.container
        // RevSlider
        div(style="height: 150px;")

    .wrapper
        section#privacy
            .container
                .section-heading.scrollpoint.sp-effect3

                    h1.noto 特定商取引法に関する法律に基づく表示
                    .divider
                    .row
                        .col-xs-12
                            .row(style="margin:20px;")
                                .col-xs-4(style="text-align:right;")
                                    div.noto 事業者名
                                .col-xs-8(style="text-align:left")
                                    div.noto 株式会社オープンスター
                                .col-xs-4(style="text-align:right")
                                    div.noto 責任者
                                .col-xs-8(style="text-align:left")
                                    div.noto 星野 雅昭
                                .col-xs-4(style="text-align:right")
                                    div.noto 所在地
                                .col-xs-8(style="text-align:left")
                                    div.noto 〒541-0051 大阪市中央区備後町3-6-2 大雅ビル10F-109
                                .col-xs-4(style="text-align:right")
                                    div.noto 業者概要
                                .col-xs-8(style="text-align:left")
                                    div.noto 医療情報システムの開発、導入、サポート、コンサルタント
                                .col-xs-4(style="text-align:right")
                                    div.noto お問い合せ
                                .col-xs-8(style="text-align:left")
                                    div.noto 電子メール：　contact＠openstar.biz
                                    |  (迷惑メール対策のため、@を全角の＠で表示しています)
                                    br
                                    | 電話: 06-6123-7056、FAX: 020-4664-1260
                                    br
                                    | URL    http://openstar.biz
                                .col-xs-4(style="text-align:right")
                                    div.noto お申込み方法
                                .col-xs-8(style="text-align:left")
                                    div.noto 本サイトの申し込みフォーム、電子メール、チャット、電話、FAX
                                .col-xs-4(style="text-align:right")
                                    div.noto お申込み有効期限
                                .col-xs-8(style="text-align:left")
                                    div.noto ホームページに記載の期限内
                                .col-xs-4(style="text-align:right")
                                    div.noto 商品の発送方法
                                .col-xs-8(style="text-align:left")
                                    div.noto 商品の郵送、ダウンロードURL配布
                                .col-xs-4(style="text-align:right")
                                    div.noto お支払い方法
                                .col-xs-8(style="text-align:left")
                                    div.noto クレジットカード、代金引換、振り込み
                                .col-xs-4(style="text-align:right")
                                    div.noto キャンセル・返品
                                .col-xs-8(style="text-align:left")
                                    div.noto 代金の支払い前まではキャンセル可。
                                .col-xs-4(style="text-align:right")
                                    div.noto 販売条件
                                .col-xs-8(style="text-align:left")
                                    div.noto 日本国内のみ
                                .col-xs-4(style="text-align:right")
                                    div.noto 著作権について
                                .col-xs-8(style="text-align:left")
                                    div.noto 解説書等の著作権は販売者である株式会社オープンスターに帰属します。

                            .row
                                .border(style="padding:20px;margin:20px;")
                                    div.noto(style="margin:5px;") 商品によって返品できるものと、できないものがあります。
                                    | 商品事の規定をご確認下さい。
                                    br
                                    | お客様のご都合による返品の場合、送料はお客様負担となりますので、
                                    br
                                    | 予めご了承ください。
                                    br
                                    | 当方のミス、不良品の返品の場合は、送料は当方が負担いたします。

                            .row(style="margin:20px;")
                                div.noto 無断での複製・販売を禁止いたします
                                div.noto 平成28年1月16日

    footer(style="padding-top:40px;")
        include parts/footer

    script(type="application/ld+json")