div.modal-header
    .modal-title
        h3(style="font-size:23px;") メールを送信しました。
    .modal-body
        p(style="font-size:16px;") 回答をご入力いただきましたアドレスにお送りさせていただきますので、今しばらくお持ちくださいませ。
    .modal-footer
        div.row
            div.col-md-10
            button.btn.btn-primary.col-md-2(ng-click='ok()', aria-label="") OK