md-dialog.box-edge(ng-cloak)
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(style="color:white;") ログイン
            span(flex)
            md-button.md-fab.md-mini.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
                ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="20")
                md-tooltip キャンセル

    md-dialog-content
        ng-form(name="validate")
            div(layout="column", layout-align="start center")

                md-input-container(flex)
                    label メールアドレス
                    input(ng-model="items.username", data-ng-required="true",type='email', name="username", placeholder='xxxxxxx@xxx.co.jp', required, md-maxlength="30", ng-pattern="/^[a-z0-9-._.+]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i")
                    div(ng-messages="validate.username.$error")
                        div.required(ng-message="required") 必須項目です。
                        div.red-messege(ng-message="pattern") メールアドレス形式ではありません。
                        div.red-messege(ng-message="maxlength") 30字以内にして下さい。

                md-input-container(flex)
                    label パスワード
                    input(ng-model="items.password", type='password', name="password", placeholder='*******', required, ng-minlength="4", md-maxlength="30", data-ng-required="true",)
                    div(ng-messages="validate.password.$error")
                        div.required(ng-message="required") 必須項目です。
                        div.red-messege(ng-message="minlength") 4文字以上にして下さい。
                        div.red-messege(ng-message="maxlength") 30字以内にして下さい。
                md-progress-linear(ng-show="progress", md-mode="indeterminate")
        div(style="text-align:center;font-size:13px;margin-top:20px;font-weight:bold;") {{message}}
    md-dialog-actions
        div.md-actions(layout="row", layout-align="space-around center")
            div
                md-button.md-raised.md-primary(ng-click='answer(items)', ng-disabled="validate.$invalid", aria-label="") ログイン
            //div
                a.btn.btn-block.btn-social.btn-facebook(href="/auth/facebook")
                    i.fa.fa-facebook
                    div Facebook

