md-dialog.box-edge(flex)
    md-toolbar
        h3 ご登録済みのメールアドレスにパスワード変更のメールを送りました。
    md-dialog-content.layout-padding


    md-dialog-actions
        .row
            md-button.md-raised.md-primary(ng-click='ok()', aria-label="") OK