md-dialog.box-edge(flex)
    md-toolbar
        h3(style="font-size:23px;") 認証用のメールをご登録のアドレスに送信しました。
    md-dialog-content.layout-padding
        p(style="font-size:16px;") 内容をご確認の上、認証いただけましたら登録完了となります。

    md-dialog-actions
        .row
            md-button.md-raised.md-primary(ng-click='ok()', aria-label="") OK