md-dialog.box-edge(flex)
    md-toolbar
        h3 新規登録
        md-button.md-fab.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
            ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="46")
            md-tooltip キャンセル

    md-dialog-content.layout-padding
        ng-form(name="validate")

            md-input-container(flex)
                label(style="margin-bottom:10px;font-weight:bold;") ・メールアドレス
                input(style="margin-bottom:10px;",ng-model='items.username', type='email', name='username', placeholder='xxxxxxx@ne-con.net', required, ng-maxlength="30", ng-pattern="/^[a-z0-9-._.+]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i")
                div(ng-messages="validate.username.$error")
                    div.required(ng-message="required") 必須項目です。
                    div.red-messege(ng-message="pattern") メールアドレス形式ではありません。
                    div.red-messege(ng-message="maxlength") 30字以内にして下さい。

            md-input-container(flex)
                label(style="margin-bottom:10px;font-weight:bold;") ・パスワード
                input(style="margin-bottom:15px;",ng-model="items.password", type="password", name="password", placeholder='4字以上30字以下', required, ng-minlength="4", ng-maxlength="30")
                div(ng-messages="validate.password.$error")
                    div.required(ng-message="required") 必須項目です。
                    div.red-messege(ng-message="minlength") 4文字以上にして下さい。
                    div.red-messege(ng-message="maxlength") 30字以内にして下さい。

            md-input-container(flex)
                label(style="margin-bottom:10px;font-weight:bold;") ・パスワード確認
                input(ng-model="items.retypepassword", compare-to="items.password", type="password", name="retypepassword", placeholder='再入力してください。', required, ng-minlength="4", ng-maxlength="30")
                div(ng-messages="validate.retypepassword.$error")
                    div.required(ng-message="required") 必須項目です。
                    div.red-messege(ng-message="compareTo") パスワードが一致しません。
                    div.red-messege(ng-message="minlength") 4文字以上にして下さい。
                    div.red-messege(ng-message="maxlength") 30字以内にして下さい。


           div(vc-recaptcha,theme="'light'", key="model.key",on-create="setWidgetId(widgetId)", on-success="setResponse(response)", on-expire="cbExpiration()")

    md-dialog-actions
        div.row
                md-button.md-raised.md-primary(style="margin:0 auto;display:block;",ng-click='ok()', ng-disabled="validate.$invalid", aria-label="") 会員登録
            div(style="text-align:center;font-size:13px;margin-top:10px;font-weight:bold;") {{message}}