//
    registerdialog.jade　
    Copyright (c) 2015 7ThCode.
    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php

md-dialog.box-edge(flex)
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(flex)
                span(flex) シェーマ
            div
                md-button.md-fab.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
                    ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="46")
                    md-tooltip キャンセル

    md-dialog-content.layout-padding
        ng-form(name="validate")
            div(layout="column")
                div(layout="row", layout-align="start center")

                    md-input-container(flex)
                        label name
                        input(ng-model="items.name", data-ng-required="true", name="name", placeholder='Enter title', md-maxlength="30", required)
                        div(ng-messages="validate.label.$error")
                            div(ng-message="required") 必ず入力してください.
                            div(ng-message="md-maxlength") もうすこし短くしてください.

                    md-input-container(flex)
                        label 質問
                        input(ng-model="items.label", data-ng-required="true", name="label", placeholder='Enter title', md-maxlength="30", required)
                        div(ng-messages="validate.label.$error")
                            div(ng-message="required") 必ず入力してください.
                            div(ng-message="md-maxlength") もうすこし短くしてください.

                div(layout="row", layout-align="start center")
                    md-input-container(flex)
                        label パス
                        input(ng-model="items.path", data-ng-required="true", name="path", placeholder='Enter Path', md-maxlength="30", required)
                        div(ng-messages="validate.path.$error")
                            div(ng-message="required") 必ず入力してください.
                            div(ng-message="md-maxlength") もうすこし短くしてください.

                md-grid-list(md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="8px" md-gutter-gt-sm="8px" )
                    md-grid-tile(ng-repeat="file in files",md-rowspan="2" md-colspan="1" md-colspan-sm="1" )
                        img(ng-src="{{'/file/' + file.filename}}", style="width:50%;" ng-click="selectFile(file.filename);")
                        md-grid-tile-footer(ng-bind="file.filename")

                //div(flow-init flow-name="uploader.flow", flow-files-added="processFiles($files)")
                    md-button.md-raised.md-primary(flow-btn type="file") Update Images
                    img(flow-img="uploader.flow.files[0]")

                md-grid-list(md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="8px" md-gutter-gt-sm="8px" )
                    md-grid-tile(md-rowspan="1" md-colspan="3" md-colspan-sm="1" )
                        img(ng-src="{{'/file/' + items.path}}", style="width: 10%;")




                md-divider
                div.md-actions(layout="row", layout-align="space-around center")
                    md-button.md-raised.md-primary(ng-click='answer()', ng-disabled="validate.$invalid", aria-label="") 更新
