md-dialog.box-edge(flex)
    md-toolbar
        h3 削除
        md-button.md-fab.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
            ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="46")
            md-tooltip キャンセル

    md-dialog-content.layout-padding
        ng-form(name="validate")

    md-dialog-actions(layout="row")
        md-button.md-raised.md-primary(ng-click='ok()', ng-disabled="validate.$invalid", aria-label="") Create