md-dialog.box-edge(flex)
    md-toolbar
        .md-toolbar-tools(layout="row", layout-align="end center")
            h3(style="color:white;") 非公開
            span(flex)
            md-button.md-fab.md-mini.md-warn(ng-click='cancel()', aria-label="Cancel", style="position:relative;top:20px;")
                ng-md-icon.iconfill(icon="clear", style="position:relative;top:4px;", size="20")
                md-tooltip Cancel

    md-dialog-content.layout-padding
        div 非公開にします。

    md-dialog-actions(layout="row")
        md-button.md-raised.md-primary(ng-click='ok()', ng-disabled="validate.$invalid", aria-label="") 非公開