.container
    .row(style="margin:40px")
        .col-sm-6
            h4 製品
            div
                a(href="/price") 価格
            div
                a(href="index#support") 特徴
            div
                a(href="") API(準備中)

        .col-sm-6
            h4 会社
            div
                a(href="") 運営会社トップ
            div
                a(href="/company") 会社概要
            div
                a(href="/company#team") チーム
            div
                a(href="") ニュース(準備中)
            div
                a(href="") 利用規約(準備中)
            div
                a(href="") 個人情報保護基本方針(準備中)
            div
                a(href="/index#support") お問い合わせ

    .row(style="margin:40px")
        .col-sm-6
            h4 ヘルプ
            div
                a(href="") 操作説明書(準備中)
            div
                a(href="") FAQ(準備中)

        .col-sm-6
            h4 つながり
            div
                a(href="") ブログ(準備中)
            div
                a(href='https://www.facebook.com/OpenStar60/', target='_blank') Facebook
            div
                a(href="") YouTube(準備中)
            div
                a(href="") GitHub(準備中)



