extends layout.jade

block content
   body(ng-app="BackendApplication", ng-controller="LoginController")
      md-content.background(ng-controller="ArticleController")
         md-toolbar
            .md-toolbar-tools
               if !user
                  div
                     //md-button(ng-click='showRegisterDialog()') Reg
                     md-button(ng-click="showLoginDialog()") ログイン
               if user
                  if provider == "local"
                     //md-button(ng-click="showPasswordDialog()") Pass
                     md-button(ng-click='Logout()') ログアウト
                  else
                     md-button(ng-click='Logout()') ログアウト

         md-card.box-edge
