doctype html
html(lang="ja")
   head
      meta(charset="utf-8")
      meta(name="format-detection", content="telephone=no")
      meta(name="msapplication-tap-highlight", content="no")
      meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
      title Backend
      link(rel="apple-touch-icon", sizes="57x57", href="/favicons/apple-touch-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="/favicons/apple-touch-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="/favicons/apple-touch-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="/favicons/apple-touch-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="/favicons/apple-touch-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="/favicons/apple-touch-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="/favicons/apple-touch-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="/favicons/apple-touch-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon-180x180.png")
      link(rel="icon", type="image/png", href="/favicons/favicon-32x32.png", sizes="32x32")
      link(rel="icon", type="image/png", href="/favicons/android-chrome-192x192.png", sizes="192x192")
      link(rel="icon", type="image/png", href="/favicons/favicon-96x96.png", sizes="96x96")
      link(rel="icon", type="image/png", href="/favicons/favicon-16x16.png", sizes="16x16")
      link(rel="manifest", href="/favicons/manifest.json")
      meta(name="msapplication-TileColor", content="#da532c")
      meta(name="msapplication-TileImage", content="/favicons/mstile-144x144.png")
      meta(name="theme-color", content="#ffffff")
      link(rel="stylesheet", type="text/css", href="/bower_components/angular-material/angular-material.min.css")
      link(rel="stylesheet", type="text/css", href="/css/backend/style.css")

!= '\n<!--[if lte IE 9]>'
p(class="browserupgrade") お使いのブラウザはHTML5未対応です。
p 機能が足りません。アップデートしてください。
p
a(href="http://browsehappy.com/") update
!= '\n<![endif]-->\n'

block content

//script(type="text/javascript", src="/bower_components/hammerjs/hammer.min.js")
script(type="text/javascript", src="/bower_components/angular/angular.min.js")
script(type="text/javascript", src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript", src="/bower_components/angular-animate/angular-animate.min.js")
script(type="text/javascript", src="/bower_components/angular-messages/angular-messages.min.js")
script(type="text/javascript", src="/bower_components/angular-aria/angular-aria.min.js")
script(type="text/javascript", src="/bower_components/angular-material/angular-material.min.js")
script(type="text/javascript", src="/bower_components/angular-material-icons/angular-material-icons.min.js")
script(type="text/javascript", src="/bower_components/angular-resource/angular-resource.min.js")
//script(type="text/javascript", src="/bower_components/angular-i18n/angular-locale_ja-jp.js")
//script(type="text/javascript", src="/bower_components/angular-socket-io/socket.min.js")
script(type="text/javascript", src="/bower_components/angular-sanitize/angular-sanitize.min.js")
script(type="text/javascript", src="/bower_components/angulartics/dist/angulartics.min.js")
script(type='text/javascript', src='/bower_components/ng-flow/dist/ng-flow-standalone.min.js')
script(type="text/javascript", src="/bower_components/lodash/lodash.min.js")
script(type="text/javascript", src='/bower_components/jquery/dist/jquery.min.js')
script(type="text/javascript", src="/javascripts/backend/BackendApplication.js")
script(type="text/javascript", src="/javascripts/backend/AuthControllers.js")
script(type="text/javascript", src="/javascripts/backend/ArticleControllers.js")
script(type="text/javascript", src="/javascripts/backend/ContentControllers.js")
script(type="text/javascript", src="/javascripts/backend/FileControllers.js")
script(type='text/javascript', src='/javascripts/backend/ExperimentQueryControllers.js')
//script(type="text/javascript", src="/bower_components/tinymce-dist/tinymce.js")
//script(type="text/javascript", src="/bower_components/angular-ui-tinymce/src/tinymce.js")

<!--[if lt IE 9]>
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js")
script.
   document.createElement('ui-select');
   document.createElement('ui-select-match');
   document.createElement('ui-select-choices');
<![endif]-->

